---
title: Agenda
layout: default
---
<header class="w-100 bg-navi">
	<div class="center mw7 pv2 pv5-ns relative overflow-hidden contain">
		<div class="absolute dn-ns w5 h5 bg-white-80 br-100" style="right: -28%; top: 25%"></div>
		<div class="absolute dn-ns bg-green br-100" style="right: 1%; top: -21rem; width:24rem; height:24rem;"></div>
		<div class="absolute dn-ns w5 h5 bg-white-80 br-100" style="left: -8%; top: 55%"></div>
		<div class="absolute dn-ns w4 h4 bg-green br-100" style="left: 26%; top: 75%;"></div>

		<div class="absolute dn db-ns bg-green br-100" style="right: 1%; top: -22rem; width:28rem; height:28rem;"></div>
		<div class="absolute dn db-ns bg-white-80 br-100" style="left: 0; bottom: 45%; width:23rem; height:23rem;"></div>
		<div class="absolute dn db-ns w5 h5 bg-white-80 br-100" style="right: 3%; top: 74%"></div>
		<div class="absolute dn db-ns bg-green br-100" style="left: 9%; bottom: -18rem; width:23rem; height:23rem;"></div>
		<div class="absolute w-100 h-100 contain bottom-0 left-0" style="background-image: url(images/bg-thais02.png);background-repeat: no-repeat; background-position: left bottom"></div>
		<h1 class="f2 f1-ns lh-title ttu orange raleway relative z-999 w-60 ph4 mr3 mr0-ns mr5-l fr tr tc-ns">{{ page.title }}</h1>
	</div>
</header>

{% for month in site.data.agenda %}
<section class="mb4">
	<div class="bg-orange pv3 mb2">
		<h4 class="raleway f3 f2-ns fw2 white tracked ma0 tc">{{ month.title }}</h4>
	</div>
	{% for event in month.events %}
	<article class="center mw7 pv2 pv3-ns ph1 mb1 flex">
		<div class="w-30 w-20-ns">
			<div class="bg-navi white tc pv1 br2">
				<span class="db raleway f6 f5-ns white-60 ttu lh-solid mt2 mt3-ns">{{ event.content.weekday }}</span>
				<span class="db raleway f1 f-subheadline fw6 lh-solid pb2 pb3-ns">{{ event.content.day }}</span>
				<p class="f6 fw6 white-60 lh-solid ma0 pv2 bt bw1 b--black-20">{{ event.content.time_start }} - {{ event.content.time_end }}</p>
			</div>
		</div>
		<div class="w-70 w-80-ns pb1 ph2 pl3-ns">
			<h2 class="lh-title raleway purple f4 f2-ns fw6 ma0">{{ event.content.title }}</h2>
			<p class="f5 measure lh-copy mv2">
				{% if event.content.maps_url %}
				<a class="link truncate w-100 lh-solid orange dib mt1 hover-purple" href="{{ event.content.maps_url }}" target="_blank">
				<svg class="v-mid dib" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
				    <path fill="currentColor" d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
				    <path d="M0 0h24v24H0z" fill="none"/>
				</svg>
				{% endif %}
				{{ event.content.location }}
				{% if event.content.maps_url %}
				</a>
				{% endif %}
			</p>

			{% if event.content.fb_url %}
			<p class="f5 measure lh-copy mv2">
				<a class="link navi lh-solid dib mt1 hover-purple" href="{{ event.content.fb_url }}" target="_blank">
					<svg class="v-mid dib mr1" fill="currentColor"  width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.476-1.195 1.176v1.54h2.39l-.31 2.416h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0" fill-rule="nonzero"/></svg>
					Confirmar presença
				</a>
			</p>
			{% endif %}
		</div>
	</article>
	{% endfor %}
</section>
{% endfor %}
