---
title: Pautas e Propostas
layout: default
---
<header class="w-100 bg-orange">
	<div class="center mw7 pv2 pv5-ns relative overflow-hidden contain">
		<div class="absolute dn-ns w5 h5 bg-pink br-100" style="right: -28%; top: 25%"></div>
		<div class="absolute dn-ns w4 h4 bg-deep-purple br-100" style="left: -14%; top: 68%;"></div>

		<div class="absolute dn db-ns w5 h5 bg-pink br-100" style="right: 3%; top: 45%"></div>
		<div class="absolute dn db-ns bg-deep-purple br-100" style="left: 5%; bottom: -19rem; width:23rem; height:23rem;"></div>
		<div class="absolute w-100 h-100 contain bottom-0 right-0" style="background-image: url(images/bg-thais03.png);background-repeat: no-repeat; background-position: right bottom"></div>
		<h1 class="f2 lh-title ttu deep-purple raleway relative z-999 w-60 w-75-ns ph4 ml2 ml3-ns ml5-l tc-ns">{{ page.title }}</h1>
	</div>
</header>

<section class="ph3 ph4-ns pt3 center mw7">
	{% for pauta in site.data.pautas %}
	<article class="flex-row flex-ns bb b--dashed bt-0 bl-0 br-0 b--black-10 pv4">
		<div class="tc tl-ns w-100 w-10-ns black-20 pr1 pb1 pb0-ns o-10">
			<img src="{{ pauta.icon_path }}" alt="Ícone {{ pauta.title }}" class="w4 w3-ns" />
		</div>
		<div class="w-100 w-90-ns pl3-ns">
			<h2 class="lh-title raleway deep-purple f2 fw6 ma0 tc tl-ns pt1">{{ pauta.title }}</h2>
			{% for description in pauta.descriptions %}
			<p class="f4 lh-copy mv4">{{ description.content }}</p>
			{% endfor %}
		</div>
	</article>
	{% endfor %}
</section>
