<section class="ph3 ph4-ns pv5 pv6-ns bt b--black-10 cover" style="background-image: url(images/bg-grupo.jpg);background-repeat: no-repeat; background-position: center bottom">
	<article class="center mw7-ns tc pt3 pb4">
		<h3 class="editable raleway purple f3 f2-ns mv2">Colabore com a campanha</h3>
		<p class="editable f4 f3-ns measure-narrow center mv3">Você pode doar qualquer quantia ou ajudar sendo voluntário</p>
		<a class="editable raleway f4 f3-ns link br2 ph4 pv3 mv3 dib bg-purple gold hover-bg-gold hover-purple tracked-tight" href="https://votolegal.com.br/em/thaisferreira/" target="_blank">Doe agora</a>
		<a class="editable raleway f4 f3-ns link br2 ph4 pv3 mv3 dib bg-white purple hover-bg-gold hover-white tracked-tight" href="voluntarios.html">Junte-se a nós</a>
	</article>
</section>
