<section class="pr3 ph4-ns pl6 pv3 pv4-ns bg-navi contain-ns" style="background-image: url(images/bg-sorriso-roxo.png);background-repeat: no-repeat; background-position: left bottom">
	<article class="center mw7-ns tc pt3 pb4">
		<p class="editable f4 f3-ns raleway measure-narrow white center mv2">Você também pode doar qualquer valor para a campanha</p>
		<a class="editable raleway f4 f3-ns link br2 ph4 pv3 mv3 dib white bg-white navi hover-bg-gold hover-white tracked-tight" href="https://votolegal.com.br/em/thaisferreira/" target="_blank">Faça sua doação</a>
	</article>
</section>
