<!-- SVG Icons are from https://simpleicons.org -->
<footer class="pv4 ph3 ph5-ns tc">
	{% include menu.html %}
</footer>
<div class="w-100 pb4 tc o-40">
	<a href="{{ site.baseurl }}/" title="Início"><img class="w2" src="images/logo-circle.png" alt="Logotipo Thais Ferreira" /></a>
</div>

<!-- Load Facebook SDK for JavaScript -->
<!-- <div id="fb-root"></div>
<script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src='https://connect.facebook.net/pt_BR/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));</script> -->

<!-- Your customer chat code -->
<!-- <div class="fb-customerchat" attribution=setup_tool page_id="2066725483598869" theme_color="#0084ff" logged_in_greeting="Olá! Posso te ajudar?" logged_out_greeting="Olá! Posso te ajudar?">
</div> -->

</body>
<script src="scripts/main.js"></script>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122814402-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122814402-1');
</script>
</html>
