<section class="bg-gold purple ph3 ph4-ns pv5">
  <form class="mw6 center pa4">
    <fieldset class="cf bn ma0 pa0">
      <legend class="raleway pa0 f5 f3-ns mb3 purple fw6 tc">Assine nossa newsletter</legend>
      <div class="cf">
        <label class="clip" for="email-address">Assine nossa newsletter</label>
        <input class="f5 input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns" placeholder="Informe seu email" type="text" name="email-address" value="" id="email-address">
        <input class="f5 button-reset fl pv3 tc bn bg-animate bg-purple white pointer w-100 w-25-m w-20-l br2-ns br--right-ns raleway fw5 hover-bg-pink" type="submit" value="Assinar">
      </div>
    </fieldset>
  </form>
</section>
