<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<title>
		{%if page.title %}
			{{ page.title }} - {{ site.title }}
		{% else %}
			{{ site.title }} - {{ site.subtitle }}
		{% endif %}
	</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Thais Ferreira" />
	<meta property="og:locale" content="pt_BR" />
	<meta property="og:type" content="website" />
	{%if page.title %}
	<meta property="og:title" content="{{ page.title }} - {{ site.title }}"/>
	{% else %}
	<meta property="og:title" content="{{ site.title }} - {{ site.subtitle }}"/>
	{% endif %}
	<meta property="og:site_name" content="{{ site.title }}"/>
	<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
	<meta property="og:image" content="{{ site.githuburl }}/images/website-thumb.jpg" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<link rel="canonical" href="{{ page.url | prepend: site.githuburl }}">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link href="style/main.css" rel="stylesheet" type="text/css" />
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-K9W6KKB');</script>
	<!-- End Google Tag Manager -->
	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122814402-1"></script>
</head>

<body class="sans-serif ma0 black-70">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K9W6KKB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<input type="checkbox" id="menu-btn" class="dn" />
<div class="menu-panel ph3 overflow-hidden w-100 tc vh-100 fixed z-9999 bg-gold">
	{% include menu.html %}
	<div class="pb1">
		<label for="menu-btn" class="db center v-mid lh-solid br-100 ba bw1 w2 h2 pv1 ph1 purple pointer relative z-9999" title="Fechar">
			<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
				<path fill="currentColor" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
				<path d="M0 0h24v24H0z" fill="none"/>
			</svg>
			<span class="f7 tc absolute bottom--1 left-0 right-0 mt2">Fechar</span>
		</label>
	</div>
</div>
<div class="mw8 center">
	<nav class="flex relative z-9 w-100 border-box bg-white">
		<label for="menu-btn" class="absolute flex v-mid pa1 pa2-ns orange pointer bg-black-05 br-100" title="Menu" style="top:10px; left: 10px;">
			<span class="clip">Menu</span>
			<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24">
				<path d="M0 0h24v24H0z" fill="none"/>
				<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" fill="currentColor"/>
			</svg>
		</label>
		<!--  LOGO  -->
		<a class="db center v-mid link w-40 w-30-ns pv2 pv3-ns tc" href="{{ site.baseurl }}/" title="Início">
			<img src="images/logo.svg" alt="Logotipo Thais Deputada Estadual RJ" />
		</a>
	</nav>
</div>
