// MENU
.left-100 {
  left: 100%;
}

.left-50 {
  left: 50%;
}

#menu {
  transition: .2s;
}

.panel, .menu-panel {
  min-height: 0;
  max-height: 0;
  transition: max-height .3s;
}

#grafico-fin:checked ~ .panel,
#menu-btn:checked ~ .menu-panel {
  max-height: 100vh;
  overflow: auto;
}
