$font-family-sans-serif:  'Open Sans', sans-serif;
$headings-font-family:    'Raleway', sans-serif;
$headings-font-weight:    700 !default;

$pink: 			#D94268;
$orange: 		#E68424;
$gold: 		  #E3BF24;
$green: 		#028847;
$navi: 			#455CA7;
$purple: 		#5C3469;
$deep-purple: #1D1950;

.sans-serif {
  font-family: $font-family-sans-serif,
                -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}
.raleway {
  font-family: $headings-font-family,
                -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.pink { color: $pink; }
.purple { color: $purple; }
.gold { color: $gold; }

.b--deep-purple { border-color: $deep-purple; }
.bg-gold { background-color: $gold; }
.bg-purple { background-color: $purple; }

.shadow-deep { box-shadow: 3px 3px 0px 0px rgba( 0, 0, 0, 0.3 ); }

// MENU

.left-100 {
  left: 100%;
}

.left-50 {
  left: 50%;
}

#menu {
  transition: .2s;
}
