{% include top.html %}

<header class="w-100 bg-black">
	<div class="center mw7 mw8-l">
		<div class="aspect-ratio aspect-ratio--16x9 mb4">
			<iframe class="lazy aspect-ratio--object bn" data-src="https://www.youtube.com/embed/nI1DFaeml2Y?feature=oembed" allow="autoplay; encrypted-media"></iframe>
		</div>
	</div>
</header>

<div class="tc ph2 ph4-ns pb4-ns">
	<section class="center mw8">
		<h1 class="f2 f1-ns lh-title fw6 pink raleway bold ma0 mt0">{{ page.title }}</h1>
		<a class="editable raleway f3 f2-ns link br2 ph4 pv3 mv3 dib white bg-purple gold hover-bg-gold hover-purple tracked-tight" href="{{ page.btn_url }}" target="_blank">{{ page.btn_label }}</a>
	</section>

	<section class="center mw6 pb4 pb5-ns pt5 tl">
		{% for team in site.data.teams %}
		<div class="flex">
			<div class="h4 w3 cover tc pt2 mt1" style="background-image: url(images/icon-times.svg);background-repeat: no-repeat; background-position: center top">
				<img class="lazy pt1" src="{{ team.icon_path }}" data-src="{{ team.icon_path }}" alt="Mobilização" width="18">
			</div>
			<div class="measure pb4 pl3">
				<h2 class="raleway f3 f2-ns purple ma0">{{ team.title }}</h2>
				<p class="mt2 f5 lh-copy">{{ team.description }}</p>
			</div>
		</div>
		{% endfor %}
		<div class="tc">
			<a class="raleway f5 f4-ns link br2 ph3 pv2 mv3 dib white bg-purple gold hover-bg-gold hover-purple" href="https://southaisferreira.typeform.com/to/LfPenc" target="_blank">Inscreva-se</a>
		</div>
	</section>
</div>

<div class="ph3 ph4-ns pv4 pv5-ns bt b--black-10 cover" style="background-image: url(images/bg-grupo.jpg);background-repeat: no-repeat; background-position: center center">
	<section class="center mw7-ns tc pt3 pb4">
		<h3 class="raleway purple f3 f2-ns mv2">Não encontrou sua equipe?</h3>
		<a class="editable raleway f4 f3-ns link br2 ph4 pv3 mv3 dib white bg-purple gold hover-bg-gold hover-purple tracked-tight" href="https://southaisferreira.typeform.com/to/LfPenc" target="_blank">Conte como pode ajudar</a>
	</section>
</div>

{% include cta-doacao.html %}

{% include form-newsletter.html %}

{% include footer.html %}
